#btn-member:checked ~ .relative label:first-child {
  opacity: 0;
  visibility: hidden;
}
#btn-member:checked ~ .relative label:last-child {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
}
#btn-achievements:checked ~ .relative label:first-child {
  opacity: 0;
  visibility: hidden;
}
#btn-achievements:checked ~ .relative label:last-child {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
}
#btn-awards:checked ~ .relative label:first-child {
  opacity: 0;
  visibility: hidden;
}
#btn-awards:checked ~ .relative label:last-child {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
}
#btn-testimonials:checked ~ .relative label:first-child {
  opacity: 0;
  visibility: hidden;
}
#btn-testimonials:checked ~ .relative label:last-child {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
}
