#btn-member:checked ~ .relative label:first-child {
  opacity: 0;
  visibility: hidden;
}
#btn-member:checked ~ .relative label:last-child {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
}
#btn-achievements:checked ~ .relative label:first-child {
  opacity: 0;
  visibility: hidden;
}
#btn-achievements:checked ~ .relative label:last-child {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
}
#btn-awards:checked ~ .relative label:first-child {
  opacity: 0;
  visibility: hidden;
}
#btn-awards:checked ~ .relative label:last-child {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
}
#btn-testimonials:checked ~ .relative label:first-child {
  opacity: 0;
  visibility: hidden;
}
#btn-testimonials:checked ~ .relative label:last-child {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
}

/* Chỉ áp dụng cho màn hình lớn (lg: 1024px trở lên) */
@media (min-width: 1024px) {
  /* 1. Mặc định ẩn nội dung FAQ khi chưa check */
  #toggle-faq ~ div > .contents {
    display: none;
  }

  /* 2. Khi checkbox được check (~), tìm div trực tiếp (>), rồi tìm div nội dung và hiển thị nó */
  #toggle-faq:checked ~ div > .contents {
    display: contents; /* Dùng contents để không phá vỡ Grid của bạn */
  }
}

@media (min-width: 1024px) {
  /* Thiết lập mặc định cho cả 2 label */
  #close-nexgen,
  #open-nexgen {
    transition: all 0.3s ease-in-out;
  }

  /* 1. Trạng thái bình thường */
  #close-nexgen {
    display: none;
    opacity: 0;
    transform: translateY(5px);
  }

  /* 2. Khi Checked: Hiện Close, Ẩn Open */
  #toggle-nexgen:checked ~ div #close-nexgen {
    display: flex !important;
    opacity: 1;
    transform: translateY(0);
  }

  #toggle-nexgen:checked ~ div #open-nexgen {
    display: none !important;
  }
}

@media (min-width: 1024px) {
  /* Thiết lập mặc định cho cả 2 label */
  #close-testi,
  #open-testi {
    transition: all 0.3s ease-in-out;
  }

  /* 1. Trạng thái bình thường */
  #close-testi {
    display: none;
    opacity: 0;
    transform: translateY(5px);
  }

  /* 2. Khi Checked: Hiện Close, Ẩn Open */
  #toggle-faq-testimonials:checked ~ div #close-testi {
    display: flex !important;
    opacity: 1;
    transform: translateY(0);
  }

  #toggle-faq-testimonials:checked ~ div #open-testi {
    display: none !important;
  }
}
@media (min-width: 1024px) {
  /* Thiết lập mặc định cho cả 2 label */
  #close-faq,
  #open-faq {
    transition: all 0.3s ease-in-out;
  }

  /* 1. Trạng thái bình thường */
  #close-faq {
    display: none;
    opacity: 0;
    transform: translateY(5px);
  }

  /* 2. Khi Checked: Hiện Close, Ẩn Open */
  #toggle-faq:checked ~ div #close-faq {
    display: flex !important;
    opacity: 1;
    transform: translateY(0);
  }

  #toggle-faq:checked ~ div #open-faq {
    display: none !important;
  }
}
